@import '../global.sass'

.contact .banner-subTitle
    align-self: center

.contact-form 
    // Layout
    margin-top: 50px
    display: flex 
    flex-direction: column
    align-items: center
    @extend .px-12
    @extend .container 

    // Typography
    @extend .font-serif
    .form-title 
        // Typography
        @extend .text-lg
    