@import '../global.sass'

.posts 
    // Layout
    margin-top: 50px
    display: flex 
    flex-direction: column 
    align-items: center
    @extend .container

    // Typography
    font-weight: normal
    @extend .text-sizing
    .posted-info 
        // Typography
        @extend .fancy-text
    