@import '../node_modules/headwindcss/headwind.scss'

$dark-blue: #3563C9
$gold: #CF9827
$light-blue: #B0F2FF
$red: #C95034
$green: #27CF97

// Used with .container to center everything
.center 
    // Layout
    display: flex 
    justify-content: center

// Just supply background and hover colors
.more-btn 
    // Layout
    @extend .p-5

    // Typography
    text-transform: uppercase 
    font-weight: bold 

    // Misc Styling
    color: #fff




